# FastAPI backend
fastapi
uvicorn[standard]
pydantic

# ML + NLP

scikit-learn
joblib

# Environment handling
python-dotenv

# Django UI (optional)
Django>=5.0
django-allauth>=0.60
gunicorn>=21.2
whitenoise>=6.6

# Google API (Gmail integration)
google-api-python-client>=2.0
google-auth>=2.0
google-auth-oauthlib>=1.0